/*GENERAL*/
* { /*CSS reset*/
	padding: 0;
	margin: 0;
}
html {
  height: 100%;
}
body {
	background-color: #E0E0E0;
	text-align: center;
	font-size: 40px;
	color: #171717;
	font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
}
p {
  font-size: 25px;
}
div {
	display: inline-block;
}
body:hover {
	/*prevent selection cursor when rolling over*/
	cursor: default;
}
::-moz-selection {
	background: #AFAFAF;
}
::selection {
	background: #AFAFAF;
}
#container {
  width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a {
	cursor: default;
	text-decoration: none;
	color: #171717;
}
h1, h4, h5 {
	font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
	color: #171717;
}
h4 {
	display: inline;
}

/*TITLE CHERB TEXT*/
#cherbtext {
	position: relative;
}
#cherb1 {
	height: 60%;
  position: absolute;
  color: #383838;
  overflow: hidden;
}
#cherb2 {
	color: #171717;
}

/*PROJECTS BUTTON*/
i {
	color:#171717;
}
.fa-home {
  font-size: 30px;
}
.fa-home:hover {
	color: #AFAFAF;
}

/*PROJECTS TEXT (h4)*/
#projectsText {
  padding-bottom: 30px;
}
