body {
	background-image: url("https://images.unsplash.com/photo-1442508748335-fde9c3f58fd9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=4cdb71ebb68575bde539cbd39a4a4e49");
	background-size: cover;
    background-repeat: repeat;
    /*background-position: center;*/
    background-attachment: fixed;
	background-color: #256BCB;
	text-align: center;
	font-size: 45px;
	color: rgba(255, 255, 255, 0.8); /*opacity*/
	font-family: 'Josefin Sans', 'Trebuchet MS', sans-serif;
}
div {
	/*center text*/
	line-height: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px black;
}
h1 {
	/*font-family: 'Kaushan Script', 'Trebuchet MS', sans-serif;*/
	text-shadow: 2px 0px 10px white;
	font-family: 'Merienda', 'Trebuchet MS', sans-serif;
}
