* { /*CSS reset*/
	padding: 0;
	margin: 0;
}
body {
  color: white;
  background-color: #333333;
  font-family: 'Copse', serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Berkshire Swash', cursive;
}
div {
  display: inline-block;
}
table {
  border-spacing: 30px 5px;
}
a {
	cursor: default;
	text-decoration: none;
	color: white;
}
a:hover {
	color: #B8B8B8;
}
::-moz-selection {
	background: #AFAFAF;
}
::selection {
	background: #AFAFAF;
}
#main1 .fa {
	font-size: 50px;
	padding-left: 30px;
	padding-right: 30px;
}
#main2 img {
	border: 5px solid white;
	border-radius: 20px;
}
#main2 a:hover {
	opacity: 0.7;
	transition: all 0.2s ease;
}
p {
	padding-left: 50px;
	padding-right: 50px;
}
/*TOP BAR*/
#topbar {
  position: fixed;
  width: 650px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 27px;
}
#topbarMain {
  width: 650px;
  background:rgba(0, 0, 0, 0.7);
}
.topButton {
  padding: 0 20px;
}
/*TITLE*/
#title {
  width: 650px;
  /*border: solid 2px black;*/
  padding-bottom: 20px;
  background:rgba(0, 0, 0, 0.4)
}
h1 {
  display: inline-block;
  font-size: 80px;
}
#theText {
  position: relative;
  left: 15px;
  top: 0px;
  font-size: 60px;
}
#coachText {
  position: relative;
  left: 20px;
  top: 30px;
  font-size: 100px;
}
#andText {
  position: relative;
  left: -20px;
  top: -35px;
  font-size: 100px;
}
#horsesText {
  position: relative;
  left: -30px;
  top: -20px;
  font-size: 100px;
}
#undertext {
  font-size: 20px;
}
/*MAIN CONTAINERS*/
.container {
  position: absolute;
  width: 100%;
  height: 750px;
  margin: auto;
  text-align: center;
  background-size: cover;
  background-repeat: repeat;
}
.container h2 {
  /*text-align: left;*/
  /*padding-left: 20px;*/
}
.mainBit {
  background:rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
  width: 650px;
  text-align: center;
}
#Welcome {
  background-image: url("img/fire.jpg");
}
#FindUs {
  top: 750px;
  left: 0;
  width: 100%;
  background-image: url("img/bridge.jpg");
}
#Menu{
  top: 1500px;
  left: 0;
  width: 100%;
  background-image: url("img/meat.jpg");
}
#Book {
  top: 2250px;
  left: 0;
  width: 100%;
  background-image: url("img/coffee.jpg");
}
