#particles-js {
	/*replaces bgleft*/
	background-color: #F3F3F3;
	float:left;
	/*padding-left:10px;*/
	top: 0;
  left: 0;
  width: 220px;
	min-height: 100vh; /*makes sure it always fills at least browser height*/
  height: 100%; /*adjust height of this with height of map*/
	z-index: 0;
	border: 0;
	padding: 0;
}
* { /*CSS reset*/
	padding: 0;
	margin: 0;
}
body {
	background-color: #3D3D43;
	text-align: center;
	font-size: 21px;
	color: white;
	font-family: 'Josefin Sans', 'Trebuchet MS', sans-serif;
	line-height: 1.5;
}
body:hover {
	/*prevent selection cursor when rolling over*/
	cursor: default;
}
::-moz-selection {
	background: #AFAFAF;
}
::selection {
	background: #AFAFAF;
}
#title {
	position: absolute;
 	top: 55%;
	left: 10px;
 	transform: translateY(-50%);
}
#aboutText {
	color:#171717;
	float: right;
	padding-left: 0px;
	font-size: 10px;
	text-align: left;
	/*color: black;*/
	width: 160px;
	opacity: 0;
}
.aboutIcon {
	color:#171717;
}
.aboutIcon:hover {
	color: #AFAFAF;
}
i {
	color:#171717;
}
#container {
	float: left;
	/*width: 2800px;*/
	min-width: 1100px;
}
canvas {
	padding: 10px;
	display: inline-block;
	overflow: auto;
}
h1 {
	display: inline-block;
	float: left;
	font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
	position: relative;
	font-size: 46px;
}
h2 {
	display: inline-block;
	font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: #171717;
	padding-right: 15px;
	padding-top: 25px;
}
#title img {
	border: solid 4px #171717;
	vertical-align: bottom;
	transition: all 0.3s ease;
}
.activeview img {
	transform: rotate(-15deg);
	opacity: 0.4;
}
.activeview h2 {
	opacity: 0.4;
}
.viewlink:hover > img {
	transform: rotate(-10deg);
	opacity: 0.6;
}
.viewlink:hover > h2 {
	opacity: 0.5;
}
#cherb1, #map1 {
	text-decoration: none;
	height: 60%;
  position: absolute;
  color: #383838;
  overflow: hidden;
}
#cherb2, #map2 {
	text-decoration: none;
	color: #171717;
}
#cherbtext:hover > a {
	color:#AFAFAF;
}
#maptext:hover > a {
	color:#AFAFAF;
}
a {
	cursor: default;
}
div {
	display: inline-block;
}
#goHolder {
 display: inline-block;
 line-height: 480px;
 vertical-align: top;
}
#cogs {
	color: white;
	/*font-size: 35px;*/
	font-size: 35px;
}
#goButton {
text-decoration: none;
color: white;
font-size: 0px;
/*font-size: 45px;*/
font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
display: inline-block;
padding-right: 20px;
}
#goButton:hover {
	color: #AFAFAF;
}
.controlhold {
	padding: 0px 15px;
	display: inline-block;
}
.controls {
	margin: 10px auto;
	padding-left: 100px;
	padding-bottom: 0px;
}
#terraincontrols {
	float: left;
	margin-top: 0px; /*half map height*/
	padding: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
}
#terrainInner {
	padding: 0px 20px;
}
#gradientOptions {
	font-size: 15px;
}
label > input{ /* hide radio button */
  visibility: hidden;
  position: absolute; /* remove button from document flow */
}
.radioimg {
	/*when not selected, image is 0*0 but with padding so background image shows
	when selected, image has width and height but no padding, so image shows but no background image*/
	width:0px;
	height:0px;
	padding: 9px;
	background-color: white;
	/*background: url(tile2.jpg);*/
}
.radioimg:hover{
	width:12px;
	height:12px;
	padding: 3px;
}
input:checked + img{ /* radio checked image */
	width:18px !important;
	height:18px !important;
	padding: 0px !important;
}
.slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 90px;
	height: 10px;
	background: white;
	display: block;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}
output {
	font-size: 15px;
	display: block;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 0%;
}
input[type=range]::-webkit-slider-thumb:hover {
	background: #AFAFAF;
}
#deepwater::-webkit-slider-thumb {
	background: #2188C2;
}
#water::-webkit-slider-thumb {
	background: #4AABD6;
}
#sand::-webkit-slider-thumb {
	background: #E5D37D;
}
#land::-webkit-slider-thumb {
	background: #87D652;
}
#mountain::-webkit-slider-thumb {
	background: #E0E0E0;
}
::-webkit-slider-thumb:hover {
	filter: brightness(80%);
}
input[type=range]:focus {
  outline: none; /* Removes the blue border.*/
}
