/*PARTICLES*/
#particles-js {
	position: fixed;
	left: 25%;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -2;
}
/*GENERAL*/
* { /*CSS reset*/
	padding: 0;
	margin: 0;
}
html {
  height: 100%;
}
body {
	background-color: #E0E0E0;
	background: linear-gradient(to bottom right, #FAFAFA, #CFCFCF);
	text-align: center;
	font-size: 32px;
	color: #171717;
	font-family: 'Josefin Sans', 'Trebuchet MS', sans-serif;
}
div {
	display: inline-block;
}
#projectsContain {
	padding-top: 25px;
	transition: all 0.8s ease;
	/*position: relative;*/
}
body:hover {
	/*prevent selection cursor when rolling over*/
	cursor: default;
}
::-moz-selection {
	background: #AFAFAF;
}
::selection {
	background: #AFAFAF;
}
#container {
	padding-top: 350px;
  width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a {
	cursor: default;
	text-decoration: none;
	color: #171717;
}
h1, h4, h5 {
	font-family: 'Pacifico', 'Trebuchet MS', sans-serif;
	color: #171717;
}
h4 {
	display: inline;
}

/*TITLE CHERB TEXT*/
#cherbtext {
	position: relative;
	transform:scale(1.25, 1.25);
}
#cherb1 {
	height: 60%;
  position: absolute;
  color: #383838;
  overflow: hidden;
}
#cherb2 {
	color: #171717;
}

/*PROJECTS BUTTON*/
i {
	color:#171717;
}
#folderIcon {
  font-size: 0px;
	opacity: 0;
	/*font-size: 35px;*/
}
.fa-folder-open-o:hover {
	color: #AFAFAF;
}

/*PROJECTS TEXT (h4)*/
#projectsText {
	transition: all 0.3s ease;
  padding-bottom: 30px;
	/*initial*/
	font-size: 0;
	opacity: 0;
}

/*PROJECTS LIST*/
.projectO, .projectO {
	width: 700px;
}
.projectC {
	padding-bottom: 0px;
}
.projectO {
	padding-bottom: 20px;
}
.projectO:active {
	opacity: 0.7;
}

/*properties of title, image, text when open vs closed*/
.projectC h5 {
	font-size: 0px;
	opacity: 0;
	display: inline;
}
.projectO h5 {
	font-size: 0px;
	/*30px*/
	/*display:inline-block;*/
  opacity: 1;
	display: inline;
}
.projectC span {
	font-size: 0;
	display: inline;
	opacity: 0;
}
.projectO span {
	line-height: 1;
	font-size: 0px;
	/*15px*/
  display: inline;
  opacity: 0;
}
.projectC img {
	width: 0px;
	display: inline;
}
.projectO img {
	border: solid 5px #171717;
	width: 65px;
	display: inline;
	vertical-align:middle;
	/*float:left;*/
	/*text-align: center;*/
}
.projectC .fa {
  font-size: 0px;
}
.projectO .fa {
  font-size: 20px;
}

/*enable transitions on h5, img and span*/
.projectC h5, .projectC img, .projectC span, .projectC fa {
  transition: all 0.3s ease;
}

.projectO h5, .projectO img, .projectO span, .projectO fa {
  transition: all 0.3s ease;
}

/*set default rotation to -15*/
.projectO h5, .projectC h5, .projectO img {
	transform: rotate(-105deg);
}

.projectO:hover > span {
	font-size: 15px;
}
.projectO:hover > h5 {
	font-size: 30px;
}
/*set rotation to 0 on hover*/
.projectO:hover > h5, .projectO:hover > img {
	transform: rotate(0deg);
}

/*make h5 and span text appear on hover (default opacity is 0) */
.projectO:hover > h5, .projectO:hover > span {
  opacity: 1;
}
